In [116]:
import pandas as pd
import numpy as np

In [117]:
file = "HeroesOfPymoli/purchase_data.json"

df = pd.read_json(file, orient="records")
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [119]:
df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [120]:
total_players = df.loc[:,["Gender","SN","Age"]]
total_players = total_players.drop_duplicates()
tp = total_players.count()[0]



print("There are " + str(tp) + " total players in Heroes of Pymoli.")

There are 573 total players in Heroes of Pymoli.

In [121]:
unique_items = df["Item Name"].unique()

print("There are a total of " + str(len(unique_items)) + " unique items in Heroes of Pymoli.")

There are a total of 179 unique items in Heroes of Pymoli.

In [122]:
average_purchase = df["Price"].mean()
avg = round(average_purchase,2)

print("The average purchase price of an item in Heroes of Pymoli was $" + str(avg))

The average purchase price of an item in Heroes of Pymoli was $2.93

In [123]:
total_purchases = df["Price"].count()

print("The total number of purchases in Heroes of Pymoli was " + str(total_purchases) + ".")

The total number of purchases in Heroes of Pymoli was 780.

In [124]:
revenue = df["Price"].sum()

print("The total revenue of purchases in Heroes of Pymoli was $" + str(revenue) + ".")

The total revenue of purchases in Heroes of Pymoli was $2286.33.

In [125]:
total_players["Gender"].value_counts()

Male                     465
Female                   100
Other / Non-Disclosed      8
Name: Gender, dtype: int64

In [126]:
gender_info = total_players["Gender"].value_counts()
gender_percents = gender_info / tp *100

gender = pd.DataFrame({"Total Count": gender_info, "Percentage of Players": gender_percents})
                                
gender = gender.round(2)
gender

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

In [127]:
avg_gender_purchase = df.groupby("Gender")

gender_info_v2 =df["Gender"].value_counts()

avg_g = avg_gender_purchase["Price"].mean()
avg_g = avg_g.round(2)

total_gender_p = avg_gender_purchase["Price"].sum()
total_gender_p = total_gender_p.round(2)

normalized_t = total_gender_p / gender["Total Count"]
normalized_t = normalized_t.round(2)

gender_purchase = pd.DataFrame({"Purchase Count": gender_info_v2,"Average Purchase Price": avg_g, 
                                "Total Purchase Price":total_gender_p,"Normalized Total":normalized_t})

gender_purchase

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Price
Female,2.82,3.83,136,382.91
Male,2.95,4.02,633,1867.68
Other / Non-Disclosed,3.25,4.47,11,35.74

In [128]:
print(df["Age"].min())
print(df["Age"].max())

bins = [0,10,15,20,25,30,35,40,100]

group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

total_players["Age Range"] = pd.cut(df["Age"],bins, labels=group_labels)

age_totals = total_players["Age Range"].value_counts()
age_percents = age_totals / tp *100
age = pd.DataFrame({"Total Counts":age_totals,"Percentage of Players":age_percents})
age = age.round(2)

age.sort_index()

7
45

       Percentage of Players  Total Counts
<10                     3.84            22
10-14                   9.42            54
15-19                  24.26           139
20-24                  40.84           234
25-29                   9.08            52
30-34                   7.68            44
35-39                   4.36            25
40+                     0.52             3

In [129]:
df["Age Range"] = pd.cut(df["Age"],bins,labels=group_labels)

age_total_purchase = df.groupby(["Age Range"]).sum()["Price"]
age_average = df.groupby(["Age Range"]).mean()["Price"]
age_average = age_average.round(2)
age_count = df.groupby(["Age Range"]).count()["Price"]

normalized_total = age_total_purchase / age["Total Counts"]
normalized_total = normalized_total.round(2)

age_range_data = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": age_average, 
                               "Total Purchase Value": age_total_purchase, "Normalized Totals": normalized_total})
age_range_data.sort_index()

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
10-14,2.87,4.15,78,224.15
15-19,2.87,3.80,184,528.74
20-24,2.96,3.86,305,902.61
25-29,2.89,4.23,76,219.82
30-34,3.07,4.05,58,178.26
35-39,2.90,5.10,44,127.49
40+,2.88,2.88,3,8.64
<10,3.02,4.39,32,96.62

In [130]:
purchase_count = df.groupby(["SN"]).count()["Price"]
purchase_average = df.groupby(["SN"]).mean()["Price"]
purchase_average = purchase_average.round(2)
purchase_value = df.groupby(["SN"]).sum()["Price"]


spender_data = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_average, 
                               "Total Purchase Value": purchase_value})

In [131]:
spender_data.sort_values("Total Purchase Value", ascending = False).head(5)

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                    3.41               5                 17.06
Saedue76                       3.39               4                 13.56
Mindimnya67                    3.18               4                 12.74
Haellysu29                     4.24               3                 12.73
Eoda93                         3.86               3                 11.58

In [132]:
item_data = df.loc[:,["Item ID","Item Name","Price"]]

total_item_purchase = item_data.groupby(["Item ID","Item Name"]).sum()["Price"]
average_item = item_data.groupby(["Item ID","Item Name"]).mean()["Price"]
item = item_data.groupby(["Item ID","Item Name"]).count()["Price"]

items = pd.DataFrame({"Purchase Count" : item,"Item Price" : average_item,"Total Purchase Value" : total_item_purchase})

In [133]:
items.sort_values("Purchase Count", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [134]:
items.sort_values("Total Purchase Value", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88